

.button-primary {
  background-color: var(--chakra-colors-brand-primary);
  color: var(--chakra-colors-white);
  border-radius: 10px;
  border: 1px solid white;
  padding: 4px;
  text-align: center;
}