[submodule "onchain/lib/kakarot-rpc"]
	path = onchain/lib/kakarot-rpc
	url = https://github.com/kkrt-labs/kakarot-rpc
[submodule "onchain/solidity_contracts/lib/forge-std"]
	path = onchain/solidity_contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "onchain/solidity_contracts/lib/kakarot-lib"]
	path = onchain/solidity_contracts/lib/kakarot-lib
	url = https://github.com/kkrt-labs/kakarot-lib
