[submodule "onchain/lib/kakarot-rpc"]
	path = onchain/lib/kakarot-rpc
	url = https://github.com/kkrt-labs/kakarot-rpc
[submodule "onchain/solidity_contracts/lib/forge-std"]
	path = onchain/solidity_contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "onchain/solidity_contracts/lib/kakarot-lib"]
	path = onchain/solidity_contracts/lib/kakarot-lib
	url = https://github.com/kkrt-labs/kakarot-lib
[submodule "onchain/solidity_contracts/lib/openzeppelin-contracts-upgradeable"]
	path = onchain/solidity_contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "onchain/solidity_contracts/lib/openzeppelin-contracts"]
	path = onchain/solidity_contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "onchain/solidity_contracts/lib/uniswap-v2-core"]
	path = onchain/solidity_contracts/lib/uniswap-v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "onchain/solidity_contracts/lib/uniswap-v2-periphery"]
	path = onchain/solidity_contracts/lib/uniswap-v2-periphery
	url = https://github.com/Uniswap/v2-periphery
