/* .metadata-form-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
} */


.metadata-form-toggle {
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.metadata-form-toggle:hover {
  background-color: #2563eb;
}

.metadata-form {
  position: absolute;
  z-index: 9999;
  bottom: 100%;
  right: 0;
  margin-bottom: 0.5rem;
  width: 25rem;
  /* background-color: white; */
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(1rem);
  pointer-events: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.9));
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.metadata-form.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.metadata-form-content {
  padding: 1rem;
}

.metadata-form-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
  transition: color 0.3s ease;
}

.metadata-form-close:hover {
  color: #374151;
}

.metadata-form h2 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #374151;
}

.metadata-form-field {
  margin-bottom: 1rem;
}

.metadata-form-field label {
  display: block;
  font-size: 0.775rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.25rem;
}

.metadata-form-field input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  color: black;
  background-color: white;
}

.metadata-form-field input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.metadata-form-submit {
  width: 100%;
  background-color: #3b82f6;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.metadata-form-submit:hover {
  background-color: #2563eb;
}