name: Mobile App

on:
  push:
    branches:
      - main
    paths:
      - "apps/mobile/**"
  pull_request:
    branches:
      - main
    paths:
      - "apps/mobile/**"

jobs:
  check-app:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./apps/mobile

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: |
          if [ -f "apps/mobile/pnpm-lock.yaml" ]; then
            pnpm install --frozen-lockfile
          else
            pnpm install
          fi

      - name: Prettier Format Check
        run: pnpm format:check

      - name: ESLint Check
        run: pnpm lint

      - name: TypeScript Check
        run: pnpm ts:check
